div {
    border: 1px solid #000;
}

.InlineBlock::after{
    content: "" !important;
}

div:nth-child(7)::after{
    content: "<-- display: inline-block" !important;
    white-space: nowrap;
    position: relative;
    right: -55px;
    top: 25px;
    color: red;
}

.big {
    width: 130px;
    height: 130px;
    background-color: #72AC83;
}

.big::after {
    content: "<-- display: block";
    white-space: nowrap;
    position: relative;
    right: -110px;
    top: 50px;
}

.small {
    width: 75px;
    height: 75px;
    background-color: #3436AC;
}

.small::after {
    content: "<-- display: block";
    white-space: nowrap;
    position: relative;
    right: -55px;
    top: 25px;
}

h1 {
    text-align: center;
    width: 80%;
    margin: auto;
}
