@import url('pimp_my_tag.css');

div {
    position: relative;
    display: block;
    left: 100px;
}

.InlineBlock {
    /* inline-block elements are like inline elements but they can have a width and a height. */
    display: inline-block;
}
