@import url('pimp_my_tag.css');

div {
    /* Static is the default value. Elements render in order, as they appear in the html flow */
    /* and right, left, top, and bottom properties doesn't affect him*/

    /* Block is the default display property*/
    /* Displays an element as a block that pulls down the other elements*/
    position: static;
    display: block;
    right: -100px;        
}
