@import url('pimp_my_tag.css');

div {
    /* Relative: The element is positioned relative to its normal position */
    /* in simple words, it is like static, elements render in order, as they appear in the html document */
    /* but you can move it around using left, right, top and bottom all this "relative" to its position */
    /* it will leave a white space where it is supposed to be in first place. */

    /* Block is the default display property */
    /* Displays an element as a block that pulls down the other elements */

    position: relative;
    display: block;
    right: -100px;
}
