@import url('pimp_my_tag.css');

div {
    /* Absolute, The element is positioned relative to its first positioned (not static) ancestor element */

    position: absolute;
    display: block;
    left: 100px;
}
